* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}

hr {
  background-color: #97ce8a;
  border: none;
  height: 3px;
  margin-bottom: 5px;
  width: 100%;
}

h2 {
  color: #97ce8a;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-info {
  background-color: #ebeeea;
  font-family: 'Amatic SC', cursive;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.name {
  font-size: 2em;
}

.body-content {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.left-col {
  width: 45%;
}

.summary,
.contact,
.education {
  margin-bottom: 20px;
}

.skill-details > p {
  margin-bottom: 5px;
}

.right-col {
  width: 45%;
}

.right-col > section > div {
  margin-bottom: 15px;
}

img {
  padding-right: 5px;
}

img + p {
  display: inline-block;
}

.education > div {
  margin-bottom: 10px;
}

.previous-employment {
  display: flex;
  justify-content: space-between;
}
